.App {
  text-align: center;
}



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

Link a {
  display: flex;
   justify-content: space-between;
}
.us{
  display: inline;
  font-size: large;
  background-color: #61dafb;
}
h1{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  color: green;

}
.forms{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  

}
.forms button{
  background: green;
}

.list{
  display: flex;
  flex-wrap: wrap;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}

.list li {
  margin: 10px;
}